.logo {
    position: absolute;
    top: 2px;
    left: 50%;
    font-size: 30px;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

img {
    width: 100%;
    margin-top: 1px;
}

.img-container {
    position: relative;
}

.img-text {
    position: absolute;
    bottom: 50%;
    right: 50%;
    background-color: rgba(0, 0, 0, 0.5);;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}