body {
    background-color: #404040;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo {
    position: absolute;
    top: 0.5%;
    left: 46%;
    font-size: 40px;
    color: white;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
/* Navigation bar */
nav {
  background-color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid #404040;
    font-family: 'Rowdies', cursive;
}

li a:hover {
    background-color: #111;
}
/* Header for index.html */
.header {
    text-align: center;
    background: #404040;
    color: white;
    font-size: 30px;
    padding: 50px;
}
/* about.html */
.header-about {
    text-align: center;
    background: #404040;
    color: white;
    font-size: 30px;
    padding: 40px;
}

.about-image {
    position: relative;
    height: 50%;
    width: 30%;
    margin-top: 5px;
}

.about-text {
    position: relative; 
    float: right;
    color: white;
    font-size: xx-large
}

.open-times {
    color: white;
    border: 2px solid #404040;
    position: relative;
    float: right;
    width: 20%;
    font-size: larger;
    text-align: center;
    margin-right: 15%;
}

.container::after {
    content: "";
    clear: both;
    display: table;
  }
  /* Index.html */
  .img-gallery {
    float: left;
    width: 32%;
    padding: 5px;
  }

footer {
    height: 70px;
    margin-top: auto;
    
}

.socials {
    text-align: center;
    padding-left: 42%;
}

.socials > li {
    display: inline;
}

.socials i {
    font-size: 45px;
    margin: 0;
    padding: 0;
    color: white;
}

   /* Booking.html */
  
  * {
    box-sizing: border-box;
  }
  
  .background-img {
    background-image: url("/assets/images/tattoo-shop-front\ \(1\)\ \(1\)\ \(1\)_11zon.jpg");
    min-height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  
  .booking-container {
    position: relative;
    float: right;
    right: 40px;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: #404040;
    color: white;
  }
  

    input[type=text], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  
  .send-button {
    background-color: white;
    color: #404040;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: larger;
  }
 
  @media screen and (max-width: 600px) {
    .logo {
      top: 10%;
    }
  }